node_modules
coverage
build
dist

.npmrc
*.log
*~
package-lock.json
shrinkwrap.json
.eslintcache
.config-*.js
# Okey, waiting lerna...
# https://github.com/lerna/lerna/pull/1864#issuecomment-462293490
# CHANGELOG.md
