{
  "**/*.{js,ts,tsx,es6,jsx,mjs}": [
    "eslint --cache --fix --quiet --format codeframe",
    "git add"
  ],
  "**/*.{js,ts,tsx,es6,jsx,mjs,md,mdx,json,yaml,yml,toml}": [
    "prettier --write",
    "git add"
  ]
}
